main {
    height: 500px;
    border: 2px solid green;
}
.flex-container {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px dashed purple;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.flex-container div {
    background-color: pink;
    padding: 30px;
    margin: 20px;
    font-size: 30px;
    color: blue;
}
